[Unit]
Description=Input Forwarder (HID control to Pi)
After=graphical-session.target

[Service]
Type=simple
Environment="KEYBOARD=SINO WEALTH Gaming KB"
Environment="MOUSE=Razer Razer Viper"
ExecStart=/usr/bin/env bash -c 'XDG_RUNTIME_DIR=/run/user/$(id -u) /usr/bin/input_forwarder'
Restart=on-failure
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=%h/.runtime-dir

[Install]
WantedBy=default.target

